#myContainer{
  display: flex;
flex-wrap: wrap;
background-color: rgb(126, 17, 14);
}
*{
background-color: ;
}

.img2 {
  width: 450px;
  height: 400px;
  border-radius: 100%;
  margin-left: 150px;
  margin-top: 1px;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#234051;
  background-image: url("https://cdn.dribbble.com/users/652746/screenshots/1773134/media/696dcd80cde2911185f71f299167d7fe.gif" );
  
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;

}
h3{
  color: #fff;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  color: #fff;
}

h1 {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
#dropdownMenuButton{
  position: relative;
  left: 1700%;
  margin-top: 10px;
}
 
  #card{
display: flex;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
   
  .bn {
    width: 100%; /* set the width of the buttons */
    text-align: center; /* center the text in the buttons */
    padding: 10px 0; /* add some padding to the buttons */
    color: rgb(255, 255, 255); /* set the text color to black */
    background-color: #111; /* set the background color to match the side bar */
  }
  
 
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 30px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  p{
    font-size: medium;
  }